.slide-in-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
}

.slide-in-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-in-left.ng-enter, .slide-in-left > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-in-left.ng-leave, .slide-in-left > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
}

/*Scale-In Animation*/
.scale-in {
    transform: scale(0.8);
    opacity: 0;
}

.scale-in.ng-enter,
.scale-in > .ng-enter {
    transition: all cubic-bezier(.1, .7, .1, 1) 600ms;
}

.scale-in.ng-enter-active,
.scale-in > .ng-enter-active {
    transform: scale(1);
    opacity: 1;
}

.scale-in.ng-leave,
.scale-in > .ng-leave {
    transition: all ease-in-out 250ms;
}